<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Minipilot</title> 
    <link rel="shortcut icon" th:href="@{/images/favicon-32x32.png}" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bubble.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <section>
			<div th:replace="fragments/header :: headerFragment"></div>
            <div class="container p-5 mt-6 mb-6">
			    <div class="columns">
			        <div class="column"></div>
			        <div class="column is-two-thirds">
			            <h1 id="name" class="title is-4 pb-3">Cache</h1>
			            <h2 class="title is-5">Search the cache</h2>
			
			            <form class="mt-4 mb-5" method="get" th:action="@{/cache}">
			                <div class="field has-addons">
			
			                    <div class="control is-expanded">
			                        <input name="q" class="input" type="text" placeholder="Search in the cache" th:value="${q}">
			                    </div>
			                    <div class="control">
			                        <div class="select">
			                            <select name="s">
											<option th:selected="${s == 'semantic'}" value="semantic">semantic</option>
											<option th:selected="${s == 'fulltext'}" value="fulltext">full-text</option>
			                            </select>
			                        </div>
			                    </div>
			                    <div class="control has-icons-left">
									<button id="chat" type="submit" class="button" autocomplete="off">
										<svg class="overflow-visible" width="18" height="19" viewBox="0 0 18 19" stroke="currentColor" fill="none" xmlns="http://www.w3.org/2000/svg">
										  <path d="M14.25 7.72059C14.25 11.591 11.2076 14.6912 7.5 14.6912C3.79242 14.6912 0.75 11.591 0.75 7.72059C0.75 3.8502 3.79242 0.75 7.5 0.75C11.2076 0.75 14.25 3.8502 14.25 7.72059Z" stroke-width="1.5"/>
										  <path d="M12 12.3529L17 17.5" stroke-width="1.5"/>
										  </svg>
									</button>
			                    </div>
			                </div>
			            </form>
			            
		                <div th:if="${entries != null}">
					        <ul>
					            <li th:each="entry : ${entries}">
					                <h3 class="title is-6 p-0 mb-2" th:text="${entry.question}"></h3>

					                <div class="bubble">
					                	<form th:action="@{/cache/save}" method="post">
					                		<input type="hidden" name="id" th:value="${entry.id}">
						                    <textarea name="content" style="width:100%; padding:0em; border:none; outline:none;" th:text="${entry.answer}"></textarea>
						                    <div class="mt-2">
										        <button type="submit" class="p-0 m-0 button is-ghost">
										            Save
										        </button>
						                        <a class="p-0 m-0 button is-ghost ml-2 delete_idx_anchor" th:href="@{/cache/delete/{id}(id=${entry.id})}">
						                            Delete
						                        </a>
						            	</form>
					                </div>
					            </li>
					        </ul>
					    </div>
					    <div th:if="${#lists.isEmpty(entries)}">
					        <p>No items found in the cache</p>
					    </div>
			        </div>
			        <div class="column"></div>
				</div>
            </div>
        </section>
    </div>
    
    <script>
	    $('textarea').each(function() {
	        this.style.height = 'auto';
	        this.style.height = this.scrollHeight + 'px';
	    });
	    
        $('.delete_idx_anchor').click(function(event) {
            event.preventDefault();
            var deleteUrl = $(this).attr('href');
            var confirmation = confirm("Are you sure you want to delete this item?");
            if (confirmation) {
                window.location.href = deleteUrl;
            }
        });
    </script>
    
</body>
</html>