<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <div id="wrapper">
        <section>
			<div th:replace="fragments/header :: headerFragment"></div>
            <div class="container mt-6 mb-6" style="padding-left:20px; padding-right:20px;">

            </div>
        </section>
    </div>
    <p th:text="|Hello, ${name}!|" />
</body>
</html>