<!DOCTYPE HTML>
<html>
<head> 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Minipilot admin page">
	<title>Minipilot</title>
</head>
<body>
    <p>Get your greeting <a href="/chat">here</a></p>
    <div id="wrapper">
        <section>
			<div th:replace="fragments/header :: headerFragment"></div>
            <div class="container mt-6 mb-6" style="padding-left:20px; padding-right:20px;">

            </div>
        </section>
    </div>
</body>
</html>
